@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header {
    height: 145px;
    text-align: center;
    border-bottom: 2px solid gray;
}

.header_logo h1 {
    font: bold 40px 'arial';
    padding-top: 14px;
    letter-spacing: 2px;
}

.header_logo p {
    font: bold 12px 'arial';
    letter-spacing: 2px;
}

.header_gnb ul {
    margin-top: 40px;
    margin-right: 38px;
}

.header_gnb ul li {
   display: inline-block; 
}

.header_gnb ul li a {
    display: block;
    font: bold 17px 'arial';
    color: black;
    margin: 0px 16px;
}
.header_gnb ul li:hover {
    background-color: rgb(184, 184, 190);
    border-radius: 13px 5px;
}
.login-form {
    position: relative; z-index: 2;
}
.login-form h1 {
    font-size: 50px; color:rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 60px;
    margin-top: 175px;
}
.int-area {
    width: 400px; position: relative;
    margin-top: 20px;
    margin-left: 268px;
}
.int-area:first-child {
    margin-top: 0;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: rgb(0, 0, 0) 1px solid ;
    font-size: 18px; color: rgb(0, 0, 0);
    outline: none;
}
.int-area label {
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: rgb(0, 0, 0);
    transition: all .5s ease;
}
.int-area label.dangerous {
    color: red !important;
    animation: dangerous .3s ease;
    animation-iteration-count: 3;
}
@keyframes dangerous {
    0% {transform: translateX(-2px);}
    25% {transform: translateX(2px);}
    50% {transform: translateX(-2px);}
    75% {transform: translateX(2px);}    
    100% {transform: translateX(-2px);}
}
.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 13px; color: rgb(0, 0, 0);
}
.btn-area {
    margin-top: 30px;
    margin-left: 366px;
}
.btn-area button {
    width: 40%;
    height: 50px;
    background-color:slateblue;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    border-radius: 25px;
}
.caption {
    margin-top: 30px;
    text-align: center;
}
.caption a {
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.btns-area {
    text-align: center;
    margin-top: 20px;
}
.btns-area a {
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.caption a:hover {
    background-color: rgb(184, 184, 190);
    border-left: rgb(184, 184, 190) solid 15px;
    border-right: rgb(184, 184, 190) solid 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.btns-area a:hover {
    background-color: rgb(184, 184, 190);
    border-left: rgb(184, 184, 190) solid 15px;
    border-right: rgb(184, 184, 190) solid 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
}